@media only screen and (max-width: 798px) {

  #desktop-nav { display: none; }
  #hamburger-nav { display: block; }

  body, html {
    overflow-x: hidden;      /* hides accidental overspill */
  }

  .logo img {
    width: 4.25rem;
    position: relative;
    top: 0.5rem;
    left: -2.5rem;
  }

  .top-header {
    width: 100%;
    height: 5rem;
    background: rgb(92, 51, 23);
  }

  #hamburger-nav {
    display: block;
    position: absolute;
    top: 20%;
    right: 1.5rem;        
  }

  .landing-image {
    position: relative;
  }

}