/* DESKTOP */
@media (max-width: 1440px) {

}

/* TABLET */
@media (max-width: 1024px) {
  

  /* HOME PAGE */
  #desktop-nav { display: none; }
  #hamburger-nav { display: flex; }

  .hamburger-icon {
    margin-top: -25px;
    margin-left: 680px;
  }

  .main-logo img {
    width: 25%;
    height: auto;
    transition: 0.4s ease;
    margin-top: -50px;
  }

  .main-text {
    top: 325px;
    font-size: 25px;
  }

  button.logo img {
    width: 100px;
    height: auto;
    transition: 0.4s ease;
  }

  .top-header {
    height: 100px;
  }

  .top-header.scrolled {
    background: rgb(92, 51, 23);
    width: 100vw;
    height: 100px;
  }

  .menu-links.open {
    top: 30px;
    margin-left: 350px;
  }



  .daily-landing-image img {
    width: 100%;
  }
  
  .about-text {
    margin-top: 110px;
  }

  .about-text p {
    font-size: 20px;
  }
}



/* PHONE */
@media (max-width: 600px) {
  #desktop-nav { display: none; }
  #hamburger-nav { display: flex; }
}



